body{
    background:#f5f5f5;
    font-family:Arial;
    padding-bottom:80px;
}

.card{
    border:none;
    border-radius:20px;
}

.navbar{
    border-radius:0 0 20px 20px;
}

.bottom-menu{
    position:fixed;
    bottom:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-around;
    padding:10px;
    box-shadow:0 -2px 10px rgba(0,0,0,0.1);
}

.bottom-menu a{
    text-decoration:none;
    color:#1a523c;
    text-align:center;
    font-size:14px;
}

.bottom-menu i{
    font-size:22px;
}

.img-evidencia{
    border-radius:15px;
    margin-top:10px;
}