<!DOCTYPE html>
<html lang="es">

<head>

<link rel="manifest"
href="/static/manifest.json">

<meta name="theme-color"
content="#1a523c">

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Sistema Compras</title>

</head>

<body>

{% block content %}
{% endblock %}

<script>

if ('serviceWorker' in navigator) {

    navigator.serviceWorker.register(
        '/static/service-worker.js'
    )

    .then(() => {

        console.log(
            'Service Worker registrado'
        );

    });

}

</script>

</body>
</html>
