<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<head>
<meta charset="UTF-8">
<title>Nueva contraseña</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<script>

function mostrarPassword() {

    const input =
        document.getElementById(
            "password"
        );

    if (input.type === "password") {

        input.type = "text";

    } else {

        input.type = "password";

    }
}

</script>

<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

<div class="card p-4 shadow" style="width:350px;">

<h3 class="text-center mb-4">
Nueva contraseña
</h3>

<form method="POST">

<div class="input-group mb-3">

<div class="input-group mb-3">

<input
id="password"
class="form-control"
type="password"
name="password"
placeholder="Nueva contraseña"
required>

<button
class="btn btn-outline-secondary"
type="button"
onclick="togglePassword()">

<i id="icono" class="bi bi-eye-slash"></i>

</button>

</div>

</button>

</div>

<button class="btn btn-success w-100">
Guardar contraseña
</button>

</form>

</div>
<script>

function togglePassword() {

    const password =
        document.getElementById(
            "password"
        );

    const icono =
        document.getElementById(
            "icono"
        );

    if (password.type === "password") {

        password.type = "text";

        icono.classList.remove(
            "bi-eye-slash"
        );

        icono.classList.add(
            "bi-eye"
        );

    } else {

        password.type = "password";

        icono.classList.remove(
            "bi-eye"
        );

        icono.classList.add(
            "bi-eye-slash"
        );
    }
}

</script>
</body>
</html>
